<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
错误
<th:block th:text="${timestamp}">时间</th:block>
<th:block th:text="${message}">原因</th:block>
</body>
</html>